<title>Planter Planner</title>

<p>
Welcome to Planter Planner!<br>
What plants do you have?
</p>

<body>
<form method="POST", action="{{ url_for('home') }}">
<select name=plant_select method="GET">
  {% for plant in plants %}
    <option value="{{plant}}" SELECTED>{{ plant }}</option>"
  {% endfor %}
</select>
<button type="submit">Add</button>
</form>

<form name=done method="POST", action="{{ url_for('home') }}">
    <button type="submit", value=False>Done</button>
</form>


<p name=data method="GET">
{{ data }}
</p>

</body>