<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Planter Planner</title>
<h1>Welcome to Planter Planner!</h1>
<p>What plants do you have?</p>

<body>
<form method="POST", action="{{ url_for('home') }}">
<select multiple name=plant_select method="GET">
  {% for plant in plants %}
    <option value="{{plant}}" SELECTED>{{ plant }}</option>"
  {% endfor %}
</select>
<button type="submit">Add</button>
</form>

<form name=done method="POST", action="{{ url_for('home') }}">
    <button type="submit", value=False>Clear</button>
</form>


<p name=data method="GET">
{{ data }}
</p>

<p name=sizes method="GET">
{{ sizes }}
</p>

</body>
</html>